name: PR

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install NPM Dependencies
        run: npm ci

      - name: Test
        run: npm test

      - name: Check Formatting
        run: npm run format:check

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Dry-Run GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          folder: dist
          dry-run: true
